<h2>プロフィール編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

    <div class="field">
  <strong>ユーザー名</strong><br />
  <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
  <strong>ユーザーID</strong><br />
  <%= f.text_field :user_id, autofocus: true %>
  </div>

  <div class="field">
  <strong>所属サークル</strong><br />
  <%= f.collection_select :circle_id,Circle.all, :id, :name%>
  </div>

  <div class="field">
    <strong>メールアドレス</strong><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <strong>変更後パスワード</strong> <i>(変更しない場合は入力しないでください)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <strong>変更後パスワード(確認用)</strong><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <strong>パスワード</strong> <i>(変更するには現在のパスワードを入力してください)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<h3>アカウントの削除</h3>

<p>アカウントを削除します <%= button_to "削除", registration_path(resource_name), data: { confirm: "アカウントを削除します。よろしいですか？" }, method: :delete %></p>

<%= link_to "戻る", :back %>