<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--新規作成の場合-->
  <%- if @post.new_record? -%>
    <div class="field">
     <strong>タイトル</strong><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <strong>本文</strong><br>
      <%= f.text_area :body %>
    </div>

    <div class="field">
      <strong>日付</strong><br>
      <%= f.date_select :today %>
    </div>

    <div class="field">
      <strong>写真</strong><br>
      <%= f.file_field :image %>
    </div>

    <strong>ユーザ</strong><br>
    <%= f.hidden_field :user_id %>
    <%= current_user.username %>

    <div class="field">
      <strong>サークル</sstrong><br>
      <%= f.collection_select :circle_id,Circle.all, :id, :name%>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<!--編集の場合-->
  <%- if @post.persisted? -%>
    <div class="field">
      <strong>タイトル</strong><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <strong>本文</strong><br>
      <%= f.text_area :body %>
    </div>



    <div class="field">
      <strong>画像</strong><br>
      <%= f.file_field :image %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<% end %>
