<h2>
  <strong>Title: </strong>
  <%= @post.title %>
</h2>
<br>

<p>
  <strong>date: </strong>
  <%= @post.today %>
</p>
<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>
<br>

<p>
  <%= image_tag(@post.image_url, width: 400) if @post.image.present? %>
</p>
<br>

<p>
  <br>
  <%= @post.body %>
</p>
<br>

<p>
  <strong>Circle:</strong>
  <%= @post.circle_id %>
</p>
<br>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', circle_path(@post.circle_id) %>
