
<h3>
  <strong><%= @circle.name %></strong>
</h3>
<h1>記事一覧</h1>
<br>

<table class = "table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>日付</th>
      <th>タイトル</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= image_tag post.image_url, width: 100 if post.image.present?%><td>
        <td><%= post.today %></td>
        <td><%= link_to post.title, post %></td>
        <td><%= link_to '編集', edit_post_path(post) %></td>
        <td><%= link_to '削除', post, method: :delete, data: { confirm: '記事を削除します。よろしいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'サークル情報編集', edit_circle_path(@circle) %> |
<%= link_to '戻る', circles_path %>
